@model LiveIT.Toolkit.Models.ToolDTO

@{
    ViewData["Title"] = "Edit tool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading">
    <div>
        Edit tool
    </div>
</div>

<div class="card" style="max-width:1300px">
    <div class="card-header">
        <div class="card-title">T @Model.ToolId</div>
    </div>
    <div class="card-body">
        <div class="col-md-4">
            <form asp-action="EditTool">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PassToken" />
                <div class="form-group">
                    <label asp-for="ToolId" class="control-label" disabled></label>
                    <input asp-for="ToolId" class="form-control" disabled />
                    <span asp-validation-for="ToolId" class="text-danger" disabled></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label> <small><i> (max: 250 char.)</i></small>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label> <small><i> (max: 40 char.)</i></small>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label> <small><i> (max: 2500 char.)</i></small>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionEL" class="control-label"></label> <small><i> (max: 2500 char.)</i></small>
                    <input asp-for="DescriptionEL" class="form-control" />
                    <span asp-validation-for="DescriptionEL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionPT" class="control-label"></label> <small><i> (max: 2500 char.)</i></small>
                    <input asp-for="DescriptionPT" class="form-control" />
                    <span asp-validation-for="DescriptionPT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label"></label> <small><i> (max: 1000 char.)</i></small>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label> <small><i> (max: 250 char.)</i></small>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VideoUrl" class="control-label"></label> <small><i> (max: 250 char.)</i></small>
                    <input asp-for="VideoUrl" class="form-control" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublicationYear" class="control-label"></label>
                    <input asp-for="PublicationYear" class="form-control" />
                    <span asp-validation-for="PublicationYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Types</label>
                    <br />
                    @foreach (var item in Model.toolSubTypesSelectionDTOs)
                    {
                        if (item.IsSelected)
                        {
                            <a class="mb-1 btn btn-primary" asp-action="UpdateToolType" asp-route-passToken="@Model.PassToken" asp-route-subtypeid="@item.ToolSubTypeId" asp-route-toolid="@item.ToolId">@item.Name</a>
                        }
                        else
                        {
                            <a class="mb-1 btn btn-secondary" asp-action="UpdateToolType" asp-route-passToken="@Model.PassToken" asp-route-subtypeid="@item.ToolSubTypeId" asp-route-toolid="@item.ToolId">@item.Name</a>
                        }
                        <br />
                    }
                </div>
                <div class="form-group">
                    <input asp-route-toolId="@Model.ToolId" type="submit" value="Update" class="mb-1 btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Tools">Back to tool list</a>
</div>

@section Scripts {
    <script src="~/js/jquery-3.6.0.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.js"></script>

    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    @*<script src="~/js/signature_pad.min.js"></script>*@
    <script>
    $(function () {
        $('#departureDatePicker').datetimepicker();
    });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}