@model LiveIT.Toolkit.Models.CatalogueDTO

@{
    ViewData["Title"] = "Edit Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading">
    <div>
        Edit Catalogue
    </div>
</div>

<div class="card" style="max-width:1300px">
    <div class="card-body">
        <div class="col-md-4">
            <form asp-action="EditCatalogue">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label> <small><i> (max: 40 char.)</i></small>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TargetPopulation" class="control-label"></label>
                    <input asp-for="TargetPopulation" class="form-control" />
                    <span asp-validation-for="TargetPopulation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Theme" class="control-label"></label>
                    <input asp-for="Theme" class="form-control" />
                    <span asp-validation-for="Theme" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label"></label> <small><i> (max: 750 char.)</i></small>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Types</label>
                    <br />
                    @foreach (var item in Model.CatalogueTypesSelectionDTOs)
                    {
                        if (item.IsSelected)
                        {
                            <a class="mb-1 btn btn-primary" asp-action="UpdateCatalogueType" asp-route-passToken="@Model.PassToken" asp-route-cataloguetypeid="@item.CatalogueTypeId" asp-route-catalogueid="@item.CatalogueId">@item.Name</a>
                        }
                        else
                        {
                            <a class="mb-1 btn btn-secondary" asp-action="UpdateCatalogueType" asp-route-passToken="@Model.PassToken" asp-route-cataloguetypeid="@item.CatalogueTypeId" asp-route-catalogueid="@item.CatalogueId">@item.Name</a>
                        }
                        <br />
                    }
                </div>
                <br />
                <div class="form-group">
                    <input asp-route-catalogueId="@Model.CatalogueId" type="submit" value="Update" class="mb-1 btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Catalogues">Return to Catalogue list</a>
</div>

@section Scripts {
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.js"></script>

    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}